<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Bars N Beaches</title>
  </head>
  <body style="margin:1rem; padding:1rem">

  <div id="nav-bar"></div>

    <main role="main" class="container">
      <form method="POST" action="/registration" th:object="${userForm}" class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
        <div>
          <label>Username</label>
          <p th:errors="*{username}" class="alert alert-danger"></p>
          <input type="text" name="username" th:value="*{username}" class="form-control" placeholder="Username" autofocus="true" />
        </div>
        <br>
        <div>
          <label>Password</label>
          <p th:errors="*{password}" class="alert alert-danger"></p>
          <input type="password" name="password" th:value="*{password}" class="form-control" placeholder="Password" />
        </div>
        <br>
        <div>
          <label>Are you a Bar owner?</label>
          <select typeof="text" name="isBarOwner" th:value="*{isBarOwner}" class="form-control">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <br>
        <div>
          <label>Image URL for your Profile pic</label>
          <input type="text" name="userPic" th:value="*{userPic}" class="form-control" placeholder="Image URL" />
        </div>
        <br>
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>